BackendProjects/design-pattern/src/main/resources/AbstractFactoryPatternSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.backend.com/garlicbread"
           xmlns="http://www.backend.com/garlicbread"
           elementFormDefault="qualified">

    <!-- Global abstract element for substitution -->
    <xs:element name="garlicBread" type="GarlicBreadType" abstract="true"/>

    <!-- Root element containing all garlic breads -->
    <xs:element name="garlicBreads">
        <xs:complexType>
            <xs:sequence>
                <!-- Use the abstract element via substitution -->
                <xs:element ref="garlicBread" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Abstract GarlicBread type -->
    <xs:complexType name="GarlicBreadType" abstract="true">
        <xs:sequence>
            <xs:element name="prepareGarlicBread" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- BasicGarlicBread implementation -->
    <xs:complexType name="BasicGarlicBreadType">
        <xs:complexContent>
            <xs:extension base="GarlicBreadType">
                <xs:sequence>
                    <xs:element name="description" type="xs:string" minOccurs="0"
                                default="Preparing Basic Garlic Bread"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- CheeseGarlicBread implementation -->
    <xs:complexType name="CheeseGarlicBreadType">
        <xs:complexContent>
            <xs:extension base="GarlicBreadType">
                <xs:sequence>
                    <xs:element name="description" type="xs:string" minOccurs="0"
                                default="Preparing Basic Cheese Garlic Bread"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Elements that can substitute garlicBread -->
    <xs:element name="basicGarlicBread" type="BasicGarlicBreadType" substitutionGroup="garlicBread"/>
    <xs:element name="cheeseGarlicBread" type="CheeseGarlicBreadType" substitutionGroup="garlicBread"/>

</xs:schema>
