BackendProjects/design-pattern/src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.com/song"
           xmlns="http://www.example.com/song"
           elementFormDefault="qualified">

    <!-- Root element -->
    <xs:element name="song" type="SongType"/>

    <!-- Complex Type Definition -->
    <xs:complexType name="SongType">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="path" type="xs:string"/>
            <xs:element name="artist" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
