BackendProjects/design-pattern/src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.backend.com/models"
           xmlns="http://www.backend.com/models"
           elementFormDefault="qualified">

    <xs:complexType name="PaymentRequest">
        <xs:sequence>
            <xs:element name="senderName" type="xs:string"/>
            <xs:element name="receiverName" type="xs:string"/>
            <xs:element name="amount" type="xs:double"/>
            <xs:element name="currency" type="CurrencyType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Restrict currency to enumeration -->
    <xs:simpleType name="CurrencyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USD"/>
            <xs:enumeration value="EUR"/>
            <xs:enumeration value="INR"/>
            <xs:enumeration value="GBP"/>
            <xs:enumeration value="JPY"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GatewayType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAYTM"/>
            <xs:enumeration value="RAZORPAY"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
